* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, serif;
}

main {
  width: 100%;
}

section {
  background-image: url(./images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 24px;
}

.first-heading h1 {
  font-weight: 700px;
  font-size: 3rem;
  color: #6070ff;
  margin-top: 60px;
}

section div p {
  font-size: 1rem;
  color: #344563;
  width: 90%;
  margin-bottom: 10px;
}

.social {
  margin-right: 20px;
  list-style: none;
  display: inline;
}

.connect {
  font-weight: lighter;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 21px;
  color: #7f8cff;
}

a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #6070ff;
}

.nav {
  display: flex;
  justify-content: space-between;
  min-width: 375px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: baseline;
}
